src/mmp-sample-client/src/main/resources/META-INF/wsdl/SampleService.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://sample.service.mmp.guru" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="SampleService" targetNamespace="http://sample.service.mmp.guru">
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://sample.service.mmp.guru" xmlns:service="http://sample.service.mmp.guru" xmlns:application="http://application.model.mmp.guru" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://sample.service.mmp.guru">
      <xs:import namespace="http://application.model.mmp.guru"/>
      <xs:element name="GetAllData" type="service:GetAllData"/>
      <xs:element name="GetAllDataResponse" type="service:GetAllDataResponse"/>
      <xs:element name="GetData" type="service:GetData"/>
      <xs:element name="GetDataResponse" type="service:GetDataResponse"/>
      <xs:element name="GetVersion" type="service:GetVersion"/>
      <xs:element name="GetVersionResponse" type="service:GetVersionResponse"/>
      <xs:element name="TestExceptionHandling" type="service:TestExceptionHandling"/>
      <xs:element name="TestExceptionHandlingResponse" type="service:TestExceptionHandlingResponse"/>
      <xs:element name="TestLocalDateTime" type="service:TestLocalDateTime"/>
      <xs:element name="TestLocalDateTimeResponse" type="service:TestLocalDateTimeResponse"/>
      <xs:element name="TestZonedDateTime" type="service:TestZonedDateTime"/>
      <xs:element name="TestZonedDateTimeResponse" type="service:TestZonedDateTimeResponse"/>
      <xs:element name="Validate" type="service:Validate"/>
      <xs:element name="ValidateResponse" type="service:ValidateResponse"/>
      <xs:complexType name="GetAllData">
        <xs:sequence/>
      </xs:complexType>
      <xs:complexType name="GetAllDataResponse">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="Data" type="service:Data"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Data">
        <xs:sequence>
          <xs:element name="Id" type="xs:long"/>
          <xs:element name="Name" type="xs:string"/>
          <xs:element minOccurs="0" name="StringValue" type="xs:string"/>
          <xs:element minOccurs="0" name="IntegerValue" type="xs:int"/>
          <xs:element minOccurs="0" name="DateValue" type="xs:date"/>
          <xs:element minOccurs="0" name="TimestampValue" type="xs:dateTime"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="TestZonedDateTime">
        <xs:sequence>
          <xs:element name="ZonedDateTime" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="TestZonedDateTimeResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="service:zonedDateTime"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType final="extension restriction" name="zonedDateTime">
        <xs:sequence/>
      </xs:complexType>
      <xs:complexType name="TestExceptionHandling">
        <xs:sequence/>
      </xs:complexType>
      <xs:complexType name="TestExceptionHandlingResponse">
        <xs:sequence/>
      </xs:complexType>
      <xs:complexType name="TestLocalDateTime">
        <xs:sequence>
          <xs:element name="LocalDateTime" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="TestLocalDateTimeResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="service:localDateTime"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType final="extension restriction" name="localDateTime">
        <xs:sequence/>
      </xs:complexType>
      <xs:complexType name="Validate">
        <xs:sequence>
          <xs:element name="Data" type="service:Data"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ValidateResponse">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="ValidationError" type="application:ValidationError"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GetData">
        <xs:sequence/>
      </xs:complexType>
      <xs:complexType name="GetDataResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="Data" type="service:Data"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GetVersion">
        <xs:sequence/>
      </xs:complexType>
      <xs:complexType name="GetVersionResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="Version" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="SampleServiceException" nillable="true" type="application:ServiceError"/>
    </xs:schema>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://application.model.mmp.guru" targetNamespace="http://application.model.mmp.guru" version="1.0">

      <xs:complexType name="ServiceError">
        <xs:sequence>
          <xs:element name="When" type="xs:dateTime"/>
          <xs:element name="Message" type="xs:string"/>
          <xs:element name="Detail" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="ValidationError">
        <xs:sequence>
          <xs:element name="Property" type="xs:string"/>
          <xs:element name="Message" type="xs:string"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="Attributes" type="tns:ValidationErrorAttribute"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="ValidationErrorAttribute">
        <xs:sequence>
          <xs:element name="Name" type="xs:string"/>
          <xs:element minOccurs="0" name="Value" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>

    </xs:schema>
  </wsdl:types>
  <wsdl:message name="GetAllData">
    <wsdl:part element="tns:GetAllData" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetVersionResponse">
    <wsdl:part element="tns:GetVersionResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="TestExceptionHandling">
    <wsdl:part element="tns:TestExceptionHandling" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetAllDataResponse">
    <wsdl:part element="tns:GetAllDataResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="TestZonedDateTimeResponse">
    <wsdl:part element="tns:TestZonedDateTimeResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="TestLocalDateTime">
    <wsdl:part element="tns:TestLocalDateTime" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="SampleServiceException">
    <wsdl:part element="tns:SampleServiceException" name="SampleServiceException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ValidateResponse">
    <wsdl:part element="tns:ValidateResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="TestZonedDateTime">
    <wsdl:part element="tns:TestZonedDateTime" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetDataResponse">
    <wsdl:part element="tns:GetDataResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="TestLocalDateTimeResponse">
    <wsdl:part element="tns:TestLocalDateTimeResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="Validate">
    <wsdl:part element="tns:Validate" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetData">
    <wsdl:part element="tns:GetData" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetVersion">
    <wsdl:part element="tns:GetVersion" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="TestExceptionHandlingResponse">
    <wsdl:part element="tns:TestExceptionHandlingResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ISampleService">
    <wsdl:operation name="GetAllData">
      <wsdl:input message="tns:GetAllData" name="GetAllData">
      </wsdl:input>
      <wsdl:output message="tns:GetAllDataResponse" name="GetAllDataResponse">
      </wsdl:output>
      <wsdl:fault message="tns:SampleServiceException" name="SampleServiceException">
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="TestZonedDateTime">
      <wsdl:input message="tns:TestZonedDateTime" name="TestZonedDateTime">
      </wsdl:input>
      <wsdl:output message="tns:TestZonedDateTimeResponse" name="TestZonedDateTimeResponse">
      </wsdl:output>
      <wsdl:fault message="tns:SampleServiceException" name="SampleServiceException">
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="TestExceptionHandling">
      <wsdl:input message="tns:TestExceptionHandling" name="TestExceptionHandling">
      </wsdl:input>
      <wsdl:output message="tns:TestExceptionHandlingResponse" name="TestExceptionHandlingResponse">
      </wsdl:output>
      <wsdl:fault message="tns:SampleServiceException" name="SampleServiceException">
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="TestLocalDateTime">
      <wsdl:input message="tns:TestLocalDateTime" name="TestLocalDateTime">
      </wsdl:input>
      <wsdl:output message="tns:TestLocalDateTimeResponse" name="TestLocalDateTimeResponse">
      </wsdl:output>
      <wsdl:fault message="tns:SampleServiceException" name="SampleServiceException">
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Validate">
      <wsdl:input message="tns:Validate" name="Validate">
      </wsdl:input>
      <wsdl:output message="tns:ValidateResponse" name="ValidateResponse">
      </wsdl:output>
      <wsdl:fault message="tns:SampleServiceException" name="SampleServiceException">
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <wsdl:input message="tns:GetData" name="GetData">
      </wsdl:input>
      <wsdl:output message="tns:GetDataResponse" name="GetDataResponse">
      </wsdl:output>
      <wsdl:fault message="tns:SampleServiceException" name="SampleServiceException">
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetVersion">
      <wsdl:input message="tns:GetVersion" name="GetVersion">
      </wsdl:input>
      <wsdl:output message="tns:GetVersionResponse" name="GetVersionResponse">
      </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SampleServiceSoapBinding" type="tns:ISampleService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="GetAllData">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="GetAllData">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="GetAllDataResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SampleServiceException">
        <soap:fault name="SampleServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="TestZonedDateTime">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="TestZonedDateTime">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="TestZonedDateTimeResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SampleServiceException">
        <soap:fault name="SampleServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="TestExceptionHandling">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="TestExceptionHandling">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="TestExceptionHandlingResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SampleServiceException">
        <soap:fault name="SampleServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="TestLocalDateTime">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="TestLocalDateTime">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="TestLocalDateTimeResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SampleServiceException">
        <soap:fault name="SampleServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Validate">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="Validate">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="ValidateResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SampleServiceException">
        <soap:fault name="SampleServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="GetData">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="GetDataResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SampleServiceException">
        <soap:fault name="SampleServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetVersion">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="GetVersion">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="GetVersionResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SampleService">
    <wsdl:port binding="tns:SampleServiceSoapBinding" name="ISampleServicePort">
      <soap:address location="http://localhost:8080/service/SampleService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>