src/mmp-sample-client/src/main/resources/META-INF/wsdl/SampleService.wsdl

<?xml version="1.0" encoding="utf-8" ?>

<wsdl:definitions name="SampleService" targetNamespace="http://ws.sample.mmp.guru"
                  xmlns:interface="http://ws.sample.mmp.guru"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">

  <!-- ========================================================================================= -->
  <!-- Service(s) Types                                                                          -->
  <!-- ========================================================================================= -->
  <wsdl:types>

    <xs:schema elementFormDefault="qualified"
               targetNamespace="http://ws.sample.mmp.guru"
               xmlns:interface="http://ws.sample.mmp.guru"
               xmlns:xs="http://www.w3.org/2001/XMLSchema">

      <!-- ===================================================================================== -->
      <!-- Service(s) Faults                                                                     -->
      <!-- ===================================================================================== -->
      <xs:complexType name="FaultInfo">
        <xs:sequence>
          <xs:element minOccurs="1" name="Detail" nillable="true" type="xs:string" />
          <xs:element minOccurs="1" name="Message" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>

      <xs:element name="InvalidArgumentFaultInfo" nillable="true"
                  type="interface:FaultInfo"/>

      <xs:element name="ServiceUnavailableFaultInfo" nillable="true"
                  type="interface:FaultInfo"/>
      
      <!-- ===================================================================================== -->
      <!-- Service(s) Enumerations                                                               -->
      <!-- ===================================================================================== -->
      <!--
      <xs:simpleType name="SampleType">
          <xs:restriction base="xs:string">
          <xs:enumeration value="Value1" />
          <xs:enumeration value="Value2" />
          <xs:enumeration value="Value3" />
          <xs:enumeration value="Value4" />
        </xs:restriction>
      </xs:simpleType>
      -->

      <!-- ===================================================================================== -->
      <!-- Service(s) Custom Types                                                               -->
      <!-- ===================================================================================== -->
      <!--
      <xs:complexType name="SampleData">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" nillable="false" name="Name" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" nillable="false" name="Value" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" nillable="true" name="OptionalValue"
              type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      -->

      <!-- ===================================================================================== -->
      <!-- Service(s) Operation Types                                                            -->
      <!-- ===================================================================================== -->
      <!--
      <xs:element name="GetSampleData">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="param1" type="xs:string" />
            <xs:element name="param2" type="xs:dateTime" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>

      <xs:element name="GetSampleDataResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="SampleData" maxOccurs="unbounded" type="interface:SampleData" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      -->

      <xs:element name="GetVersion">
        <xs:complexType>
          <xs:sequence/>
        </xs:complexType>
      </xs:element>
      <xs:element name="GetVersionResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="out" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>

    </xs:schema>

  </wsdl:types>

  <!-- ========================================================================================= -->
  <!-- Service(s) Fault Messages                                                                 -->
  <!-- ========================================================================================= -->
  <wsdl:message name="ServiceUnavailableFault">
    <wsdl:part element="interface:ServiceUnavailableFaultInfo" name="fault"/>
  </wsdl:message>

  <!-- ========================================================================================= -->
  <!-- Service(s) Operation Messages                                                             -->
  <!-- ========================================================================================= -->
  <!--
  <wsdl:message name="GetSampleDataInputMessage">
    <wsdl:part name="parameters" element="interface:GetSampleData" />
  </wsdl:message>
  <wsdl:message name="GetSampleDataOutputMessage">
    <wsdl:part name="parameters" element="interface:GetSampleDataResponse" />
  </wsdl:message>
  -->

  <wsdl:message name="GetVersionInputMessage">
    <wsdl:part name="parameters" element="interface:GetVersion" />
  </wsdl:message>
  <wsdl:message name="GetVersionOutputMessage">
    <wsdl:part name="parameters" element="interface:GetVersionResponse" />
  </wsdl:message>

  <!-- ========================================================================================= -->
  <!-- Service(s) Port(s)                                                                        -->
  <!-- ========================================================================================= -->
  <wsdl:portType name="ISampleService">

    <wsdl:documentation>The Sample Service.</wsdl:documentation>

    <!--
    <wsdl:operation name="GetSampleData">
      <wsdl:input message="interface:GetSampleDataInputMessage" />
      <wsdl:output message="interface:GetSampleDataOutputMessage" />
      <wsdl:fault name="ServiceUnavailableFault" message="interface:ServiceUnavailableFault" />
    </wsdl:operation>
    -->

    <wsdl:operation name="GetVersion">
      <wsdl:input message="interface:GetVersionInputMessage" />
      <wsdl:output message="interface:GetVersionOutputMessage" />
      <wsdl:fault name="ServiceUnavailableFault" message="interface:ServiceUnavailableFault" />
    </wsdl:operation>

  </wsdl:portType>

  <!-- ========================================================================================= -->
  <!-- Service(s) Binding(s)                                                                     -->
  <!-- ========================================================================================= -->
  <wsdl:binding name="SampleService" type="interface:ISampleService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

    <!--
    <wsdl:operation name="GetSampleData">
      <soap:operation soapAction="http://ws.sample.mmp.guru/ISampleService/GetSampleData"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ServiceUnavailableFault">
        <soap:fault name="ServiceUnavailableFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    -->

    <wsdl:operation name="GetVersion">
      <soap:operation soapAction="http://ws.sample.mmp.guru/ISampleService/GetVersion"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ServiceUnavailableFault">
        <soap:fault name="ServiceUnavailableFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>

  </wsdl:binding>

  <!-- ========================================================================================= -->
  <!-- Service(s)                                                                                -->
  <!-- ========================================================================================= -->
  <wsdl:service name="SampleService">
    <wsdl:port name="SampleService" binding="interface:SampleService">
      <soap:address location="http://localhost:8080/service/SampleService"/>
    </wsdl:port>
  </wsdl:service>

</wsdl:definitions>