src/mmp-sample-client/src/main/resources/META-INF/wsdl/SampleService.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://sample.service.mmp.guru" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="SampleService" targetNamespace="http://sample.service.mmp.guru">
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://sample.service.mmp.guru" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://sample.service.mmp.guru">
      <xs:element name="GetData" type="tns:GetData"/>
      <xs:element name="GetDataResponse" type="tns:GetDataResponse"/>
      <xs:element name="GetVersion" type="tns:GetVersion"/>
      <xs:element name="GetVersionResponse" type="tns:GetVersionResponse"/>
      <xs:element name="TestExceptionHandling" type="tns:TestExceptionHandling"/>
      <xs:element name="TestExceptionHandlingResponse" type="tns:TestExceptionHandlingResponse"/>
      <xs:complexType name="GetData">
        <xs:sequence/>
      </xs:complexType>
      <xs:complexType name="GetDataResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="Data" type="tns:Data"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Data">
        <xs:sequence>
          <xs:element name="Id" type="xs:long"/>
          <xs:element name="Name" type="xs:string"/>
          <xs:element minOccurs="0" name="StringValue" type="xs:string"/>
          <xs:element minOccurs="0" name="IntegerValue" type="xs:int"/>
          <xs:element minOccurs="0" name="DateValue" type="xs:date"/>
          <xs:element minOccurs="0" name="TimestampValue" type="xs:dateTime"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="FaultInfo">
        <xs:sequence>
          <xs:element name="When" type="xs:dateTime"/>
          <xs:element name="Message" type="xs:string"/>
          <xs:element name="Detail" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GetVersion">
        <xs:sequence/>
      </xs:complexType>
      <xs:complexType name="GetVersionResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="Version" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="TestExceptionHandling">
        <xs:sequence/>
      </xs:complexType>
      <xs:complexType name="TestExceptionHandlingResponse">
        <xs:sequence/>
      </xs:complexType>
      <xs:element name="SampleServiceFault" nillable="true" type="tns:FaultInfo"/>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="GetVersionResponse">
    <wsdl:part element="tns:GetVersionResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="TestExceptionHandling">
    <wsdl:part element="tns:TestExceptionHandling" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetDataResponse">
    <wsdl:part element="tns:GetDataResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="SampleServiceException">
    <wsdl:part element="tns:SampleServiceFault" name="SampleServiceException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetData">
    <wsdl:part element="tns:GetData" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetVersion">
    <wsdl:part element="tns:GetVersion" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="TestExceptionHandlingResponse">
    <wsdl:part element="tns:TestExceptionHandlingResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ISampleService">
    <wsdl:operation name="GetData">
      <wsdl:input message="tns:GetData" name="GetData">
      </wsdl:input>
      <wsdl:output message="tns:GetDataResponse" name="GetDataResponse">
      </wsdl:output>
      <wsdl:fault message="tns:SampleServiceException" name="SampleServiceException">
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetVersion">
      <wsdl:input message="tns:GetVersion" name="GetVersion">
      </wsdl:input>
      <wsdl:output message="tns:GetVersionResponse" name="GetVersionResponse">
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestExceptionHandling">
      <wsdl:input message="tns:TestExceptionHandling" name="TestExceptionHandling">
      </wsdl:input>
      <wsdl:output message="tns:TestExceptionHandlingResponse" name="TestExceptionHandlingResponse">
      </wsdl:output>
      <wsdl:fault message="tns:SampleServiceException" name="SampleServiceException">
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SampleServiceSoapBinding" type="tns:ISampleService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="GetData">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="GetData">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="GetDataResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SampleServiceException">
        <soap:fault name="SampleServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetVersion">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="GetVersion">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="GetVersionResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestExceptionHandling">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="TestExceptionHandling">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="TestExceptionHandlingResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SampleServiceException">
        <soap:fault name="SampleServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SampleService">
    <wsdl:port binding="tns:SampleServiceSoapBinding" name="ISampleServicePort">
      <soap:address location="http://localhost:8080/service/SampleService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>